@font-face {
	font-family:'haptik';
	src: url(GTHaptik-Medium.woff2);
}
@font-face {
	font-family:'haptikLight';
	src: url(GT-Haptik-Lazer.woff);
}
@font-face {
	font-family:'haptikThin';
	src: url(GT-Haptik-Thin.woff);
}
html,body{
	background: #1E824C;
	font-family: 'haptik'
}
.center{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 30vh;
	width: 30vh;
	margin: auto;
	position: absolute;
}
.subText{
	font-family: 'haptikLight';
	margin: auto; 
	font-size: 5vh;
	color: #DDDDDD;
	position: relative;
	width: 20vw;
	height: 7vh;
	top: 66vh;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}
@media screen and (max-width: 480px) {
	.subText{
		font-family: 'haptikLight';
		margin: auto; 
		font-size: 5vh;
		color: #DDDDDD;
		position: relative;
		width: 90vw;
		height: 7vh;
		top: 66vh;
		left: 0;
		bottom: 0;
		right: 0;
		text-align: center;
	}
}