<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="icon" href="static/css/favicon.png" type="image/png" sizes="64x64">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property=”og:title” content=”Aditya Walvekar | Miracles “ />
	<meta property=”og:type” content=”website”/>
	<meta property=”og:url” content=”adityawalvekar.com”/>
	<meta property=”og:image” content=”favicon.png”/>
	<meta name="theme-color" content="#2C3E50">
	<title>
		Aditya Walvekar | Coming Soon.
	</title>
</head>
<body class="notFound">
	<img src="static/css/images/aw-light.svg" class="center">
	<div class="subText">Not Found Mate :(</div>
</body>
</html>